

//show requirement estimations

//show requirement actuals

//show requirement users actual and estimated data

//if user is part of requirement or manager allow them to input effort

// if manager add user to requirement form