doctype 5
html
  head
    if locals.title
      title= title
    else
      title= 'AntHill'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/bootstrap.min.js')
  body
    if locals.messages
      ul#messages
        while messages.length > 0
          -var message = messages.pop()
          li(class=message.type)=message.text
    if user
      a(href='/logout') Logout
    block content