doctype 5
html
  head
    if locals.title
      title= title
    else
      title= 'AntHill'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if locals.message
      #flash= message
    block content