doctype 5
html
  head
    if locals.title
      title= title
    else
      title= 'AntHill'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if locals.messages
      ul#messages
        while messages.length > 0
          -var message = messages.pop()
          li(class=message.type)=message.text
    if user
      a(href='/logout') Logout
    block content