extends ../layout

block content
  
  .row
    //show create new project form  
    a(href='/projects/new', class='btn btn-primary span4 offset4') New Project

  ul#projects
    //show my projects
    each project in projects
      a(href='/projects/#{project.name}', class='btn project')
        .name=project.name
        .description=project.description
        .requirements=project.requirements.length

  