extends ../layout

block content
  //show create new project form  
  a(href='/projects/new') New Project

  //show my projects 
  ul#projects
    if locals.projects
      each project in projects
        li.project
          a(href='/projects/#{project.name}')
            .name=project.name
            .description=project.description
            .requirements=project.requirements.length
  
  