extends ../layout

block content
  .span12.center-align
    form(action="", method="POST")
      label(for='user') Username
      input(type='text', name='username', id='username', maxLength='255')
  
      label(for='password') Password
      input(type='password', name='password', id='password', maxLength='255')
  
      label(for='passwordConfirm') Confirm Password
      input(type='password', name='passwordConfirm', id='passwordConfirm', maxLength='255')
    
      br
      button(type='submit', class='btn btn-primary') Register