extends ../layout

block content
  form(action="", method="POST")
    label(for='projectname') Project Name
    input(type='text', name='projectname', id='projectname', maxLength='255')

    button(type='submit') Create